<mat-toolbar color="primary">
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <span>My App</span>
  <span class="example-spacer"></span>
  <button mat-button [routerLink]="'/task'"> <mat-icon>list_alt</mat-icon> </button>
<button mat-button  [routerLink]="'/projects'"> <mat-icon>work</mat-icon> </button>
<button mat-button  [routerLink]="'/settings'"> <mat-icon>settings</mat-icon> </button>
  <!-- <button
    mat-icon-button
    class="example-icon favorite-icon"
    aria-label="Example icon-button with heart icon"
  >
    <mat-icon>favorite</mat-icon>
  </button>
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with share icon"
  >
    <mat-icon>share</mat-icon>
  </button> -->
</mat-toolbar>

<div class="content-wrapper">
  <div class="container-wrapper">
    <div class="container">
      <div>
        <button
          mat-fab
          color="accent"
          aria-label="Add Task"
          class="md-fab md-fab-bottom-right"
          (click)="newTask()"
        >
          <mat-icon>add</mat-icon>
        </button>
      </div>

      <mat-tab-group  class="remove-border-bottom" mat-align-tabs="start">
        <mat-tab label="Today">
          <div id="todo" class="list" style="border: 0 none">
            <p class="empty-label" *ngIf="(todo | async)?.length === 0">
              Empty list
            </p>

            <app-task-lists
              (edit)="editTask('todo', $event)"
              *ngFor="let task of todo | async"
              cdkDrag
              [task]="task"
            ></app-task-lists>
          </div>
        </mat-tab>
        <mat-tab label="Someday">Content 2</mat-tab>
        <mat-tab label="Past">Content 3</mat-tab>
      </mat-tab-group>

      <router-outlet></router-outlet>
    </div>
  </div>
</div>
