/* You can add global styles to this file, and also import other style files */
@import "~ng-pick-datetime/assets/style/picker.min.css";

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: "Roboto", "Helvetica Neue", sans-serif;
    background-color: #F7F7F7;
}

.item .tick-icon {
    position: absolute;
    left: 0;
    top: 0;
    cursor: pointer;
}

.item {
    position: relative;
    padding-left: 40px;
}

.item-summary {
    display: flex;
    font-size: 14px;
    color: rgb(128, 128, 128);
}

.item .title {
    margin: 0;
    font-size: 16px;
    font-weight: 500;
}

.task-done .title {
    text-decoration: line-through;
    color: #888;
}

.item-card:hover {
    background-color: #FFF;
    border-color: #E1E1E1;
}

.item-card {
    margin: 1rem 0;
    background-color: #FFF;
    border: #FFF solid 2px;
    border-radius: 8px;
}

.item-card:focus {
    border-color: rgb(107, 107, 231);
}

.remove-border-bottom .list {
    border: 0 none;
}

.no-bg-color {
    background-color: transparent;
}

.mat-form-field-appearance-fill .mat-form-field-flex {
    background-color: transparent;
    padding-left: 0 !important;
}

.task-done .tick-icon {
    color: #b5bac1;
}
